.merienda-fuente{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*
menu{
    display: flex;
    flex-direction: column;
  
    & li {
      list-style-type: none;
    }
}
*/
