.merienda-fuente{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*
menu{
    display: flex;
    flex-direction: column;
  
    & li {
      list-style-type: none;
    }
}
*/

.botondescarga{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.download-button:hover {
    background-color: #0056b3;
}
